In [1]:
import pandas as pd

import warnings

warnings.filterwarnings('ignore')

In [2]:
df_train = pd.read_csv('train.csv')

df_train

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [4]:
df_train.isna().any().sum()

0

In [5]:
df_train.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

## Columns with 'object' datatype

In [7]:
#data_type = df_train.dtypes
for i in df_train.columns:
    if df_train[i].dtypes =='object':
        print(i)

X0
X1
X2
X3
X4
X5
X6
X8

## Lebel Encoding

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for cols in df_train.columns:
    if df_train[cols].dtype == 'object':
        df_train[cols] = le.fit_transform(df_train[cols])

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int32(8), int64(369)
memory usage: 12.0 MB

## Columns with zero varinace

In [25]:
df_train.var() == 0.0
#data_type = df_train.dtypes
for i in df_train.columns:
    if df_train[i].var() ==0:
        print(i)

X11
X93
X107
X233
X235
X268
X289
X290
X293
X297
X330
X347

## Dropping values with zero variance

In [10]:
df_train_le = df_train.drop(df_train.var()[df_train.var() == 0.0].index.values,axis = 1)

In [11]:
df_train_le

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,32,23,17,0,3,24,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,32,21,19,4,3,28,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,20,24,34,2,3,27,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,20,21,34,5,3,27,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,20,23,34,5,3,12,3,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,8,20,16,2,3,0,3,16,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,31,16,40,3,3,0,7,7,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,8,23,38,0,3,0,6,4,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,9,19,25,5,3,0,11,20,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,46,19,3,2,3,0,6,22,...,1,0,0,0,0,0,0,0,0,0

## Test dataset

In [12]:
df_test = pd.read_csv('test.csv')

df_test

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [32]:
df_test.isna().any().sum()

0

In [28]:
for cols in df_test.columns:
    if df_test[cols].dtypes=='object':
        df_test[cols] = le.fit_transform(df_test[cols])

## Droping zero variance columns

In [82]:
df_test_le = df_test.drop(['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'],axis =1)

df_test_le

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,21,23,34,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,42,3,8,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,21,23,17,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,21,13,34,5,3,31,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,45,20,17,2,3,30,8,12,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,6,9,17,5,3,1,9,4,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,42,1,8,3,3,1,9,24,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,47,23,17,5,3,1,3,22,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,7,23,17,0,3,1,2,16,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,42,1,8,2,3,1,6,17,0,...,1,0,0,0,0,0,0,0,0,0

## Data Splitting

In [36]:
X_train = df_train_le.drop(['y','ID'] ,axis =1)
y_train = df_train_le['y']
X_train.shape#y_train.shape

(4209, 364)

In [37]:
X_test = df_test_le.drop(['ID'] ,axis =1)
#y_train = df_train_le['y']
X_test.shape

(4209, 364)

## PCA for dimension reduction

In [39]:
from sklearn.decomposition import PCA

In [43]:
pca = PCA(n_components= 0.95)
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)
#df_train_pca,df_test_pca

In [62]:
from sklearn.ensemble 
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings('ignore')

In [65]:
from sklearn.model_selection import KFold, cross_val_score

In [ ]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
grid_values = {'n_estimators': [75,80,85,95], 'learning_rate': [0.13,0.135,0.14,0.2,0.18], 'max_depth': [1,2,3,4,5]}
grid_xgb = GridSearchCV(xgb.XGBRegressor(), param_grid = grid_values, cv=50, scoring = 'r2')
grid_xgb.fit(X_train_pca, y_train)
predict_xgb = grid_xgb.predict(X_test_pca)

print('Mean score matrix: ', grid_xgb.cv_results_['mean_test_score'])
print('Grid best parameter (max. accuracy): ', grid_xgb.best_params_)
print('Grid best score (accuracy): ', grid_xgb.best_score_)

### We see that accuracy is less ,so we will try to improve it using scaling the dataset

In [76]:
from sklearn.preprocessing import MinMaxScaler
scalling = MinMaxScaler().fit(X_train)
X_train_scalled = scalling.transform(X_train)
test_scalled = scalling.transform(X_test)

## PCA on scalled data

In [78]:
pca = PCA(n_components= 0.95)
X_train_pca_n = pca.fit_transform(X_train_scalled)
X_test_pca_n = pca.transform(test_scalled)
#df_train_pca,df_test_pca

## Model Implementation

In [80]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
grid_values = {'n_estimators': [75,80,85,95], 'learning_rate': [0.13,0.135,0.14,0.2,0.18], 'max_depth': [1,2,3,4,5]}
grid_xgb = GridSearchCV(xgb.XGBRegressor(), param_grid = grid_values, cv=10, scoring = 'r2')
grid_xgb.fit(X_train_pca_n, y_train)
predict_xgb = grid_xgb.predict(X_test_pca_n)

print('Mean score matrix: ', grid_xgb.cv_results_['mean_test_score'])
print('Grid best parameter (max. accuracy): ', grid_xgb.best_params_)
print('Grid best score (accuracy): ', grid_xgb.best_score_)

Mean score matrix:  [0.43479532 0.44179226 0.44800145 0.45878496 0.50313039 0.50478046
 0.50618583 0.50881798 0.51392905 0.51499157 0.51566295 0.51612762
 0.50617301 0.50618891 0.50530532 0.50485357 0.51426972 0.5147495
 0.51301843 0.51164886 0.43913181 0.44553536 0.45119752 0.46193131
 0.50257529 0.50547263 0.50634452 0.50918493 0.50837925 0.50840025
 0.5088978  0.5099434  0.51120413 0.51134614 0.51136437 0.50964357
 0.50665812 0.50495731 0.50443868 0.50238532 0.44290434 0.44982234
 0.45575917 0.46541089 0.5063153  0.50825395 0.51025434 0.51241912
 0.51272667 0.51232237 0.51235785 0.51323003 0.50840336 0.5083492
 0.5085819  0.50685459 0.50535165 0.50562979 0.50534452 0.50344107
 0.47692957 0.48115476 0.48458068 0.48904953 0.50993066 0.51058512
 0.5094084  0.50834122 0.51391831 0.51340587 0.51325421 0.51223812
 0.50567971 0.50483916 0.50438958 0.50167478 0.49865988 0.49744064
 0.49701797 0.49631281 0.46613929 0.47161184 0.47637721 0.48298927
 0.50475899 0.50605305 0.50779752 0.50581067 0.50808832 0.50830684
 0.50802412 0.50699789 0.5057961  0.50567254 0.50515014 0.50206452
 0.49520004 0.49387028 0.49229311 0.48957555]
Grid best parameter (max. accuracy):  {'learning_rate': 0.13, 'max_depth': 3, 'n_estimators': 95}
Grid best score (accuracy):  0.5161276191616785

## Output prediction

In [81]:
predict_xgb

array([ 78.86445 ,  94.74847 ,  80.18007 , ...,  91.201675, 106.438896,
        93.197395], dtype=float32)